section {
    padding: 10px;
    text-align: center;
    background-color: rgb(224, 218, 218);
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 1px 1px 1px 1px rgb(100, 100, 102);
}
.link {
    margin: 15px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgb(100, 100, 102);
}

button {

    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgb(100, 100, 102);
}
#navSection {
    height: 20px;
}
#navSection div{
    float: left;
    width: 25%;
}

#navSection div a{
    box-shadow: 1px 1px 1px 1px rgb(100, 100, 102);
    padding: 10px;
    border-radius: 30px;
}

#signInForm {
    padding: 10px;
    text-align: center;
    background-color: rgb(224, 218, 218);
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 1px 1px 1px 1px rgb(100, 100, 102);
    width: 40%;
}